[Desktop Entry]
Version=1.0
Type=Application
Name=WebStorm
Icon=/home/pawel/.jetbrains/webstorm/current/bin/webstorm.svg
Exec="/home/pawel/.jetbrains/webstorm/current/bin/webstorm.sh" %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-webstorm
