[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ IDEA
Icon=/home/pawel/.jetbrains/idea/current/bin/idea.png
Exec="/home/pawel/.jetbrains/idea/current/bin/idea.sh" %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-idea
