[Desktop Entry]
Version=1.0
Type=Application
Name=PyCharm
Icon=/home/pawel/.jetbrains/pycharm/current/bin/pycharm.png
Exec="/home/pawel/.jetbrains/pycharm/current/bin/pycharm.sh" %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-pycharm
