[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ IDEA
Icon=/opt/JetBrains/IntellijIDEA/idea/bin/idea.png
Exec="/opt/JetBrains/IntellijIDEA/idea/bin/idea.sh" %f
Comment=Develop with pleasure!
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-idea
X-Desktop-File-Install-Version=0.22
