[Desktop Entry]
Version=1.0
Type=Application
Name=WebStorm
Icon=/home/pawel/.local/share/icons/hicolor/128x128/apps/webstorm.svg
Exec=webstorm %f
Comment=Develop with pleasure!
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-webstorm
